{% extends 'base.html.twig' %}

{% block title %}Ajouter un pole{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md6">
            <h1>Ajouter un pole</h1>
            {{ include('pole/_form.html.twig') }}
            <a href="{{ path('pole_index') }}">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
