{% extends 'base.html.twig' %}

{% block title %}Editer un collaborateur{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Editer un collaborateur</h1>
            {{ include('collaborators/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            <button class="btn btn-default" href="{{ path('collaborators_index') }}">Retour à la liste</button>
            {{ include('collaborators/_delete_form.html.twig') }}
        </div>
    </div>
</div>    
{% endblock %}
